* {
    margin: 0rem;
    }

.page{
    max-width: 1050px;
    margin: 1rem auto;
}

header, footer {
    align-items: center;
    margin: 1rem auto;
}

header{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 70% 30%;
    background-color: white;
    border: 1rem solid rgb(255, 41, 77);
    width: 1080px;
    height: 160px;
}

.logo{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 1rem;
    justify-content: center;
    align-content: center;

}

h1{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
    align-content: center;
    text-align-last: center;
    margin: 1rem;
}

nav{
    grid-column: 2/3;
    grid-row: 2/3;
    flex: 1 1 auto;
}

.navigation{
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    font-size: larger;
    background-color: pink;
}

.navigation li{
    margin: 1rem;
}

.navigation a{
    justify-content: center;
    text-align: center;
    font-size: large;
    color: black;
    padding: 1rem;
    text-decoration: none;
}

.navigation a:hover {
	color: #000;
	background-color: rgb(248, 99, 123);
	font-weight: 700;
}

.navigation a.active{
    text-decoration: underline .20rem black;
}

h1, h2, h3, h4, h5{
    font-family: "Licorice", 'Times New Roman', Times, serif;
    font-weight: 700;
}

p{
    font-family: "Slabo", 'Times New Roman', Times, serif;    
}

.home{
    display: grid;
    width: 1080px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: larger;
}

.herodiv{
    grid-column: 1/2;
    box-shadow: .5rem .5rem .5rem black;
    margin: 1rem;
}

.mainbody{
    grid-column: 2/2;
    text-align: justify;
    margin: 1rem;
    padding: 1rem;
}

h2{
    font: bold;
    margin: 1rem;
    padding: 1rem;
}

.homeh2{
    font-size: 48px;
    text-align: center;
}

h3{
    font-size: 36px;
}

.grida{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: .5fr .51fr .20fr;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    row-gap: 70px;
}

.solh2{
    font-size: 48px;
}

.solp{
    font-size: 24px;
    margin: 1rem;
}

.solh3p{
    font-size: 18px;
    margin: .5rem;
    padding: .5rem;
}

.intro{
    grid-column: 1/4;
    grid-row: 1/2;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

.solmain1{
    grid-column: 3/4;
    grid-row: 2/4;
    padding: 2rem;
    margin: 2rem;
    height: 100%;
}

.desk{
    grid-column: 1/2;
    grid-row: 2/3;
}

.sitstand{
    grid-column: 1/2;
    grid-row: 3/4;
    list-style: none;
}

.carrier{
    grid-column: 2/3;
    grid-row: 2/3;
}

.babycarrier{
    grid-column: 2/3;
    grid-row: 3/4;
    list-style: none;
}

.gridb{
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    grid-template-rows: .5fr .5fr;
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    row-gap: 70px;
}

.solmain2{
    grid-column: 4/5;
    grid-row: 1/3;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.bottle{
    grid-column: 1/2;
    grid-row: 1/2;
}

.bbottle{
    grid-column: 1/2;
    grid-row: 2/3;
    list-style: none;
}

.botcarrier{
    grid-column: 2/3;
    grid-row: 1/2;
}

.bottlec{
    grid-column: 2/3;
    grid-row: 2/3;
    list-style: none;
}

picture.pump{
    grid-column: 3/4;
    grid-row: 1/3;
}

.bpump{
    grid-column: 3/4;
    grid-row: 2/3;
    list-style: none;
}

.sitstand li, .carrier li, .babycarrier li, .bbottle li, .bottlec li, .bpump li{
    background-color: pink;
    border: .10rem solid rgb(238, 89, 114);
    border-radius: 10px;
    padding: .25rem;
} 

.sitstand a, .carrier a, .babycarrier a, .bbottle a, .bottlec a, .bpump a{
    text-decoration: none;
}

.com-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 10% 40%;
    row-gap: 25px;
    margin: 1rem;
    padding: 1rem;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.maincom{
    grid-column: 1/4;
    grid-row: 1/2;
}

.comh2{
    font-size: 48px;
}

.pcom{
    font-size: larger;
}

/* form{
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 1rem;
    width: 900px;
    padding: 1em;
    border: 4px solid black;
    border-radius: 1em;
    background-color: pink;
}

.ulform{
    list-style: none;
    padding: 0;
    margin: 0;
}

form .licom + .licom{
    margin-top: 1em;
} */

form{
    grid-column: 2/3;
    grid-row: 2/3;
}

.licom{
    list-style: none;
    justify-content: center;
    text-align: center;
}

label{
    grid-column: 1/2;
    grid-row: 2/3;
    display: inline-block;
    width: 90px;
    height: 20px;
    text-align: center;
    justify-content: center;
    font-size: large;
    padding: .25rem;
}

input{
    grid-column: 2/4;
    grid-row: 2/3;
    font: 20px "Slabo";
    padding: 1rem;
    height: 20px;
    width: 300px;
    box-sizing: border-box;
    background-color: pink;
    border: 5px solid rgb(243, 97, 122);
}

input:focus{
    border-color: black;
}

.quote{
    grid-column: 1/4;
    display: grid;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100px;
    text-align: left;
    font-size: large;
    justify-content: center;
    align-items: center;
    grid-column: 1fr 1fr 1fr;
    column-gap: 30px;
}

.h3com{
    text-align: center;
}

.stacy{
    grid-column: 1/2;
}

.Janice{
    grid-column: 2/3;
}

.Christine{
    grid-column: 3/4;
}

footer{
    display: flex;
    margin: auto;
    width: 1080px;
    background-color: rgb(255, 41, 77);
    
}

.footertext{
    font-size: larger;
    text-align: left;
    justify-content: center;
    padding: .5rem;
    margin: 1rem;

}

.socialmedia{
    display: flex;
    justify-content: flex-end; 
    flex: 1 1 auto;
}

.socialmedia a{
    margin: 1rem;
}